* {
    box-sizing: border-box;
}
    
/* Center website */
.main-portfolio {
    max-width: 1000px;
    margin: 12px auto;
}
.main-portfolio h1.title-portfolio,
.main-portfolio h3.title-portfolio,
.main-portfolio h2.title-portfolio {
    text-align: center;
}

.row-portfolio {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row-portfolio,
.row-portfolio > .column-portfolio {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column-portfolio {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row-portfolio:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content-portfolio {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column-portfolio {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column-portfolio {
        width: 100%;
    }
}