.tab-container {
    max-width: 998px;
    background-color: white;
    margin: 0px auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}