.main-container-testimonials {
    max-width: 998px;
    background-color: white;
    margin: 30px auto 10px;
}

.main-title-testimonials {
    font-size: 2.1em;
    text-align: center;
}

.container-testimonials {
    border-radius: 5px;
    padding: 16px;
    margin: 70px auto;
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    box-shadow: 3px 3px 10px #aaa;
    transition: 0.5s;
}
.container-testimonials:hover {
    box-shadow: 5px 5px 10px #999;
}
  
.container-testimonials img {
    border-radius: 50%;
    height: 120px;
    margin-bottom: 15px;
}

.container-testimonials p {
    max-width: 500px;
    margin: 10px auto;
}

.container-testimonials iframe {
    width: 100%;
    max-width: 800px;
    height: 395px;
    border: none;
}