/* Bordered form */
form.login {
    border: 3px solid #f1f1f1;
}

section.login {
    display: block;
    margin: 10px auto;
    max-width: 700px;
}

/* Full-width inputs */
section.login input[type=text],
section.login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button.login {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

.muted {
    color: #ccc;
}

.bordered {
    border: 1px solid;
    margin: 5px 0px;
    padding: 5px;
}

/* Add a hover effect for buttons */
button.login:hover {
opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
width: 40%;
border-radius: 50%;
}

/* Add padding to containers */
.container-login {
padding: 16px;
}

.error-system {
    background-color: red;
    color: white;
    font-size: 4em;
}


.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    cursor: pointer;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main-admin-content {
    margin-left: 260px;
    padding: 0px 10px;
}

@media (max-width: 700px) {
    .sidenav {
        width: 0px;
        padding-top: 15px;
    }
    .main-admin-content {
        margin-left: 0px;
    }
    .sidenav a {font-size: 18px;}
}

section#admin-system h1 {
    font-size: 2em;
}

section#admin-system input:not([type=checkbox]) {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #aaa;
}

section#admin-system input[type=checkbox] {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
    border: 0;
}

section#admin-system button.btn-submit {
    padding: 16px;
    margin: 8px 0;
    background-color: rgb(0, 180, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 0;
}

section#admin-system table {
    margin: 18px 0px 0px;
}

section#admin-system .container {
    margin-bottom: 25px;
    position: relative;
}

section#admin-system .container:hover .img-show {
    opacity: 0.3;
}
  
section#admin-system .container:hover .middle {
    opacity: 1;
}

section#admin-system img.img-show {
    max-width: 400px;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #ccc;
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
    backface-visibility: hidden;
}

section#admin-system .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 200px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

section#admin-system input[type=file] {
    display: none;
}