
.col-3, .col {
    float: left;
    width: 33.33%;
}
.col-4 {
    float: left;
    width: 25%;
}
.col-2 {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col {
        width: 100%;
    }
}





