
.col-3, .col {
    float: left;
    width: 33.33%;
}
.col-4 {
    float: left;
    width: 25%;
}
.col-2 {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1000px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .col,
    .col-3,
    .col-4,
    .col-2 {
        width: 100%;
        margin: 8px;
    }    
}




