@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

a.link {
    text-decoration: none;
    color: blue;
}

body { 
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

header#header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    transition: top 0.3s;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    z-index: 999;
}

    header#header h1 {
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }

    header#header nav {
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        background-color: inherit;
    }

    header#header a {
        color: white;
        text-align: center;
        padding: 15px;
        background-color: inherit;
        text-decoration: none;
    }

    header#header a.icon {
      display: none;
    }

    header#header a:hover {
        background-color: #fff;
        color: black;
    }


section#AboveTheFold {
    margin-top: 68px;
    height: calc(100vh - 68px);
    position: relative;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }

    .slideshow-container img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    z-index: 4;
  }
  
  .dots {
      position: relative;
      top: -10%;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


footer#footer {
  padding: 10px;
  padding-top: 30px;
  position: relative;
}

footer#footer > div{
  width: 70%;
  margin: 0px auto;
}

footer#footer img.social-icon{
  width: 25px;
  margin: 5px;
}

footer#footer .backtop {
  display: block;
  background-color: #0099ff;
  width: 70px;
  height: 70px;
  position: absolute;
  top: -25px;
  right: 45px;
  transition: 1s;
}

footer#footer h3 {
  margin: 5px 0px;
  color: white;
}

footer#footer .backtop:hover {
  top: -10px;
}

footer#footer .backtop:after {
  content: ' \039B';
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: grid;
  place-items: center;
  height: 100%;
  cursor: pointer;
}

footer#footer img.logo{
  display: block;
  margin: auto;
}

@media screen and (max-width: 600px) {

  section#AboveTheFold {
    margin-top: 106px;
    height: calc(60vh - 106px);
  }

  header#header nav.active a {
    display: block;
  }

  header#header a {
    display: none;
  }

  header#header nav.active a.icon {
    font-size: inherit;
  }

  header#header a.icon {
    display: block;
    margin-right: 15px;
    font-size: 40px;
  }

  header#header a:hover {
      background-color: transparent;
        color: white;
  }
  
  footer#footer .backtop {
    display: none;
  }
}
  
@keyframes rotate {
  from { 
      transform: rotate(0deg); 
  }
  to { 
      transform: rotate(360deg); 
  }
}

.rotate {
  display: block;
  margin: 50px auto;
  border: 7px solid #ddd;
  border-top: 7px solid pink;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: rotate 1.5s infinite;
}
